.left-side {
  grid-column: left-side-start / left-side-end;
  grid-row: 1/2;
  @media screen and (max-width: $bp-medium) {
    grid-column: 1/-1;
  }
  background-color: $color-primary;
  display: grid;
  align-items: center;
  justify-content: center;

  &__logo-box {
    margin: 15px auto 15px 30px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__logo {
    width: 18rem;
    height: 5rem;
  }

  &__benefit-container {
    height: 22.5vw;
    min-width: 40rem;
    padding: 3.75vw;
    display: grid;
    grid-template-columns: minmax(26.25vw, max-content);
    align-content: space-between;
    @media screen and (max-width: $bp-medium) {
      height: 30rem;
      padding: 3rem;
    }
    @media screen and (max-width: $bp-small) {
      height: 30rem;
      min-width: 20rem;
      padding: 3rem;
    }
  }

  &__benefit {
    display: flex;
    align-items: center;
    color: $color-white;

    &--text {
      font-size: 1.875vw;
      font-family: $font-primary;
      font-weight: bold;
      line-height: 2.5vw;
      margin-left: 2rem;
      @media screen and (max-width: $bp-medium) {
        font-size: 2.25rem;
        line-height: 1;
      }
      @media screen and (max-width: $bp-small) {
        font-size: 1.75rem;
      }
    }

    &--icon-box {
      width: 4rem;
      height: 4rem;
      font-size: 1rem;
      border-radius: 50%;
      background-color: $color-white;
      display: inline-block;
      position: relative;
    }

    &--icon {
      color: $color-primary;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
